.skill-tag{
    border: 1px solid black;
    background: lightcoral;
    border-radius: 8px;
    margin: 2px;
    padding-left: 5px;
    padding-right: 5px;
    width: fit-content;
    text-align: center;
}